<!DOCTYPE html>
<html>
<head>
  <title>DropzoneRailsCarrierwave</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="container">
      <div class="header">
        <h3 class="text-muted">Rails - File upload</h3>
      </div>
      <%= yield %>
    </div>

</body>
</html>
